.idea/
*.iml
*.iws


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


*.vault_pass
.vault_pass*
vault_pass.txt
vault_password*

*.retry
*.decrypted
*.plain

__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/

.DS_Store
Thumbs.db
